# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/dist
/build
/out
/calendar-service/dist
/calendar-service/build
/calendar-ui/dist
/calendar-ui/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env*
!.env.example

# editor and OS specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.patch

# testing
/coverage

# build caches
.vite/
.nest/
*.tsbuildinfo

# misc
*.log
*.tmp
*.bak