services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - calendar-service

  calendar-service:
    build: ./calendar-service
    ports:
      - "3001:3001"

  # approval-service:
  #   build: ./approval-service
  #   ports:
  #     - "3002:3002"

  # notification-service:
  #   build: ./notification-service
  #   ports:
  #     - "3003:3003"
